# copy from .gitignore (except node_modules/)
yarn.lock
shrinkwrap.json
package-lock.json
.node_repl_history

# extra ignore file for npm
test/
.eslintrc.js
.gitattributes
.travis.yml
CODE_OF_CONDUCT.md
jest.config.js
repl.js