# copy from .gitignore (except node_modules/)
yarn.lock
shrinkwrap.json
package-lock.json
.node_repl_history

# extra ignore file for npm
.eslintrc.js
.gitattributes
.github/
*.config.js
CODE_OF_CONDUCT.md
repl.js
test/